<!-- Para aplicar los estilos de bootstrap nos dirigimos al archivo angular.json y 
en el apartado de 'styles' debera quedar de la siguiente forma:
"styles": [
              "src/styles.css",
              /* la siguiente linea debe agregarse para tomar los estilos de bootstrap */
              "node_modules/bootstrap/dist/css/bootstrap.min.css"
            ], -->


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <h3>
            Tarjeta Credito
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Agregar tarjeta</h5>
          <form [formGroup]="form" (ngSubmit)="addCard()">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i [class.green-icon]="this.form.get('holder')?.valid"
                  [class.red-icon]="this.form.get('holder')?.invalid && this.form.get('holder')?.touched"
                  class="fa-solid fa-user-tie"></i>
              </span>
              <input formControlName="holder" type="text" class="form-control" placeholder="New holder"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i [class.green-icon]="this.form.get('number')?.valid"
                  [class.red-icon]="this.form.get('number')?.invalid && this.form.get('number')?.touched"
                  class="fa-regular fa-credit-card"></i>
              </span>
              <input formControlName="number" maxlength="5" type="text" class="form-control" placeholder="Number"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="row">
              <div class="col-7">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-regular fa-calendar"></i>
                  </span>
                  <input formControlName="expirationDate" type="text" class="form-control" placeholder="mm/yy"
                    aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-5">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa-sharp fa-solid fa-key"></i>
                  </span>
                  <input formControlName="cvv" type="text" class="form-control" placeholder="cvv" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                <i class="fa-solid fa-database"></i>
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5>Listado de tarjetas</h5>
          <table class="table">
            <tbody>
              <tr *ngFor="let card of listCards, let i = index">
                <td>{{card.holder}}</td>
                <td>{{card.number}}</td>
                <td>{{card.expirationDate}}</td>
                <td>{{card.cvv}}</td>
                <td>
                  <i class="far fa-regular fa-pen-to-square text-info"></i>
                </td>
                <td>
                  <i (click)="deleteCard(i)" class="far fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-tarjeta-credito></app-tarjeta-credito>